.dialogs {

}

.dialogsItems {
  display: inline-block;
  width: 20%;
  color: white;
}

.dialogsItems .active {
  color: gold;
}

.dialog {

}

.messages {
  display: inline-block;
  width: 80%;
}

.message {
  color: white;
}

