.dialogs {

}

.dialogsItems {
  display: inline-block;
  width: 20%;
  color: white;
  vertical-align: top;
  margin: 10px 0px;
}

.dialogsItems ul{
  margin: 0;
}

.dialogsItems .active {
  color: gold;
}

.messages {
  display: inline-block;
  width: 80%;
  vertical-align: top;
  margin: 10px 0px;
}

